.header {
    .container {
        position: relative;
    }

    &-w {
        display: flex;
        justify-content: space-between;
        position: absolute;
        height: 100px;

        top: 20px;
        left: 0;
        right: 0;
        z-index: 10;

        &-logo {
            height: 100%;
            width: auto;

            img {
                height: 100%;
            }
        }

        &-menu,
        &-icons {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-menu {
            width: 526px;

            li {
                display: block;
                list-style-type: none;
                font-size: 20px;
                font-family: Circe;
                line-height: 150%;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: $header-text-color;

                    &:hover {
                        color: $black-color;
                    }
                }
            }
        }

        &-icons {
            width: 120px;

            &__item {
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background-color: $main-color;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 20px;
                    height: 20px;
                }

                &:hover {
                    background-color: $main-hover-color;
                }
            }
        }

        &-cont {
            width: 245px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            &__phone {
                color: $main-color;
                font-family: Circe;
                font-size: 24px;
                font-weight: 800;
                line-height: 100%;

                &:hover {
                    color: $main-hover-color;
                }
            }

            &__addres {
                color: $header-text-color;
                font-size: 16px;
                font-family: Circe;
                line-height: 100%;
                text-align: end;

                &:hover {
                    color: $black-color;
                }
            }

        }

        &-burger {
            display: none;
            width: 40px;
            position: relative;

            .burger {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 40px;
                height: 30px;
                display: flex;
                align-items: center;
                cursor: pointer;


                span {
                    display: block;
                    width: 40px;
                    height: 6px;
                    border-radius: 2px;
                    background-color: $main-color;
                    transition: all 0.3s;
                }

                &:before,
                &:after {
                    content: "";
                    width: 40px;
                    height: 6px;
                    border-radius: 2px;
                    background-color: $main-color;
                    position: absolute;
                    transition: all 0.3s;
                }

                &:before {
                    top: 0;
                }

                &:after {
                    bottom: 0;
                }

                &:hover {

                    span,
                    &:before,
                    &:after {
                        background-color: $main-hover-color;
                    }

                }

                &.active {
                    span {
                        transform: scale(0);

                    }

                    &:after {
                        bottom: 33%;
                        transform: rotate(-45deg) translate(0, -50%);
                    }

                    &:before {

                        top: 33%;
                        transform: rotate(45deg) translate(0, 50%);
                    }
                }
            }
        }
    }


}